@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF'), format("TTF");
}

::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: bisque;
}